.popup__close {
  background: url(../../../image/CloseButton.svg);
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center;
  position: absolute;
  right: -40px;
  top: -40px;
  border: none;
  cursor: pointer;
}